//SASS

//Paletti

$olive: #808000;
$green: #9ACD32;
$darkergreen: #6B8E23;


//Yleisiä perusmääritelmiä

body {
  padding: 0px;
  margin: 0px;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.app-container {
  //App.js:n pää container
  min-width: 75vw;
  min-height: 100vh;
  background-color: $green;
}

.route-container {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: $green;
}

//Etusivu

.content-container {
  height: fit-content;
  margin: auto; //Siirtää näkymän keskelle
  padding-top: 8vh;
  background-color: $green;

  img {
    height: 38vh;
    margin: auto;
  }

  .card:hover {
    //Tähän voi lisätä animaatioita yms
    cursor: pointer;
  }

  .category {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2.5vh 15%;
    min-height: 100vh;
  }

  .product {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 40vh;

    .card {
      width: 10rem;
    }
  }

  .thumbnail {
    display: flex;
    flex-wrap: wrap;
  }
}



//Navbar

.navbar {
  display: flex;
  background-color: $olive;
  position: fixed;
  width: 100%;
  z-index: 500;

  #basic-navbar-nav {
    max-width: fit-content;
  }

  .info {
    font-weight: bold;
  }


}

//Info

.about {
  margin: 10px;
}

.about-title {
  font-size: large;
}

//Footer

.footer-row {
  margin: 0px;
  display: flex;
  background-color: $olive;
  padding: 0.5rem 0px;
  justify-content: center;
  position: static;

  .col {
    max-width: fit-content;
  }
}

#notfound {
  margin-top: 15vh;
  font-size: 3rem;
}

.imgholder {
  width: 90vw;
}

//Komponentit

//Kortit

.card {
  margin: 12px;
  width: 18rem;
  height: fit-content;

  >img {
    height: 225px;
  }

  .cardbody {
    padding: 5px 15px;
  }

  .pricetag {
    font-weight: bolder;
    color: red;
    font-size: 2rem;
  }
}

// ADMIN
// MANAGE CATEGORIES
.wrapper {
  height: fit-content;
  width: 99vw;
  margin: 6rem auto;
  padding-left: 5rem;
  padding-right: 5rem;

  h3 {
    margin-bottom: 3rem;
    font-weight: bold;
  }

  .adding {
    margin-bottom: 3rem;
  }

  h5 {
    width: fit-content;
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: 2px solid #000;
  }

  .category-error {
    margin-bottom: .5rem;
  }

  .table {
    border: #000;
  }

  .delete {
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }

  .delete:hover {
    color: #000;
  }

  .category-input {
    margin-bottom: 1rem;
  }

  .category-submit {
    margin-top: .6rem;
  }

  .image-link {
    color: #000;
  }

  .product-table {
    margin-bottom: 2rem;
  }

  label {
    display: block;
  }

  input {
    width: 15rem;
    margin-bottom: .5rem;
  }

  .description {
    min-height: 10rem;
    width: 20rem;
  }

  .product-form {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  .product-error {
    margin-bottom: 1rem;
  }

  .prdouct-submit {
    margin-bottom: 3rem;
  }

  .animate {
    animation: showForm .5s ease-in-out;
  }

  @keyframes showForm {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

}