//SASS

//Paletti

$olive: #808000;
$green: #9ACD32;
$darkergreen: #6B8E23;


//Yleisiä perusmääritelmiä

body{
  padding: 0px;
  margin: 0px;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.app-container { //App.js:n pää container
  min-width: 75vw;
  height: 100vh;
}

//Etusivu

.content-container{
  height: 84vh;
  margin: auto;   //Siirtää näkymän keskelle
  background-color: $green;

  img{
    height: 38vh;
    max-width: 45%;
    margin: auto;
  }

  .product-thumbnail{
    display: flex;
    justify-content: center;
    margin: 15px;
  }
}



//Navbar

nav {
  .navbar{
    display:flex;
    padding-left: 25px;
    width: 100vw;
  }
}

//Footer

.footer-row {
  background-color: $olive;
  height: 10vh;
}